/* stylesheet for web */
body,
textarea {
	color: #000;
	font-family: "Helvetica", sans-serif;
    background-color: white;
	font-weight: 400;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1.75;
	-webkit-font-feature-settings: "kern";
}

h2, h3, h4, h5, h6 {
    font-family: "Helvetica", sans-serif;
	font-weight: 700;
	line-height: 1.15;
	-webkit-font-feature-settings: "dlig", "liga", "lnum", "kern";
	color: #000;
	margin: 0 0 .3em;
	clear: both;
}

#av {
    border: 1px black;
    border-width: medium;
    float:left;
    /*height:40px;
    width:10px;*/
}

#idstats {
    float: right;
}

#profile {
    float:
}

#lhs {
    float: left;
    display: block;
}

#rhs {
    float: right;
    display: block;
}

#header {
    background-color:black;
    color:white;
    font-weight: 900;
    text-align:center;
    padding:5px;
}

#friends {
    border: 3px black;
    border-width: medium;
    position: right;
}

.button {
    display: inline;
    border: 1px black;
    border-width: medium;
    border-style: solid;
    padding: 5px
}
